fastapi
uvicorn
requests
langchain
langgraph
langchain-openai
langchain-google-genai
duckduckgo-search
beautifulsoup4
pydantic
langchain-ollama
pyparsing
typing-extensions
langchain-core
python-dotenv
ddgs
python-multipart
faster-whisper