fastapi
uvicorn
requests
langchain
langgraph
langchain-openai
langchain-google-genai
duckduckgo-search
beautifulsoup4
pydantic
langchain-ollama
beautifulsoup4
requests
pyparsing
typing-extensions
duckduckgo-search
langchain-core
python-dotenv
ddgs
